.bar-left{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 33.3%;
  height: 100%;
  background: #4A90E2;
}

.bar-center{
  position: absolute;
  top: 0px;
  left: 33.3%;
  width: 33.4%;
  height: 100%;
  background: #50E3C2;
}

.bar-right{
  position:absolute;
  top: 0px;
  right: 0px;
  width: 33.3%;
  height: 100%;
  background: #B8E986;
}

.image-block{
  position:absolute;
  right: 0;
  bottom: 0;
  width: 33.3%;
  height: 25%;
  background: url("https://images.unsplash.com/photo-1472148083604-64f1084980b9?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=") center no-repeat;*/
  background-size: cover;
  background-color: #ccc;
}
